<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Transaction</title>
</head>
<body>
    <h1>New Transaction</h1>
    <form th:action="@{/transactions/save}" th:object="${transaction}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <label for="amount">Amount:</label>
        <input type="text" id="amount" th:field="*{amount}" />
        <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Incorrect amount</p>

        <label for="description">Description:</label>
        <input type="text" id="description" th:field="*{description}" />
        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Incorrect description</p>

        <label for="category">Category:</label>
        <select id="category" th:field="*{category}">
            <option th:each="category : ${categories}" th:value="${category}" th:text="${category.name}"></option>
        </select>

        <label for="type">Type:</label>
        <select id="type" th:field="*{type}">
            <option value="" disabled selected>Select type</option>
            <option th:value="${T(com.example.financetracker.model.TransactionType).INCOME.name()}"
                    th:text="#{transaction.type.income}">Income</option>
            <option th:value="${T(com.example.financetracker.model.TransactionType).EXPENSE.name()}"
                    th:text="#{transaction.type.expense}">Expense</option>
        </select>
        <p th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Error</p>

        <button type="submit">Save</button>
    </form>
</body>
</html>